:root {
  --light-blue: #E3F6FF;
  --blue: #8ECBE6;
  --dark-blue: #275F77;
  --yellow-conrast: #FFEA20;
  --main-white: #F5F5F5;
  --main-black: #2C2C2C;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: DM Sans, sans-serif;
}

nav {
  display: flex;
  padding: 1rem;
  font-family: "DM Sans", sans-serif;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-blue);
  color: var(--main-white);
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.navItem:hover {
  text-decoration: underline;
}

.icon {
  color: var(--light-blue);
}

/* Button design */
.button {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: var(--dark-blue);
  color: var(--main-white);
  font-weight: 400;
  font-size: 15px;
  outline: none;
  border-radius: 3px;
  max-width: 200px;
  border: 3px solid var(--dark-blue);
}
.button:hover {
  background-color: var(--main-white);
  border: 3px solid var(--dark-blue);
  color: var(--dark-blue);
}

.delete-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: rgb(137, 35, 35);
  color: var(--main-white);
  border: 3px solid rgb(137, 35, 35);
  font-weight: 400;
  font-size: 15px;
  border-radius: 3px;
}
.delete-button:hover {
  border: 3px solid red;
  background-color: red;
  color: white;
}

.light-button {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 0.5rem;
  background-color: var(--light-blue);
  color: var(--main-black);
  max-width: 10%;
}

.light-button:hover {
  background-color: var(--blue);
}

/* Font and headings */
h1 {
  font-size: 2rem;
  font-weight: 400;
  color: var(--dark-blue);
}

h2{
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--dark-blue);
}

h3{
  font-size: 1.25rem;
  font-weight: 300;
  color: var(--dark-blue);
}

h4{
  font-size: 1rem;
  font-weight: 300;
  color: var(--dark-blue);
}


/* The login page */

.logo {
  font-size: 20pt;
  letter-spacing: 1.5pt;
  font-weight: 200;
}

.logInButton {
  border: 1px solid var(--light-blue);
  color: var(--dark-blue);
  letter-spacing: 0.5pt;
  border-radius: 20px;
  gap: 0.5em;
  background-color: var(--light-blue);
}

.logInIcon {
  color: var(--dark-blue);
  background-color: var(--light-blue);
  border: 1px solid var(--dark-blue);
  padding: 5px;
  border-radius: 50px;
  position: static;
}

.logInButton:hover {
  border: 1px solid var(--light-blue);
  background-color: var(--dark-blue);
  color: var(--light-blue);
}

.log-in-form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  height: 100vh;
  background-image: url("../imgs/ocean-nature-white-shore-landscape\ Large.jpeg");
  background-position: center; 
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--dark-blue);
}

/* General forms */
.form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  gap: 1rem;
  padding: 1rem 1rem;
  border-radius: 10px;
  min-width: 30rem;
}


/* Components */
.input-field {
  padding: 0.5rem;
  background-color: var(--main-white);
  border-radius: 3px;
  border: 1px solid var(--dark-blue);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.input-field:hover {
  background-color: white;
}

checkbox {
  width: 10px;
}
.checkbox-field:checked {
  background-color: var(--dark-blue);
  color: var(--main-white);
}

.search-field {
  padding: 0.5rem;
  background-color: white;
  border-radius: 3px;
  border: 1px solid var(--dark-blue);
  width: 80%;
}

.card {
  padding: 1rem;
  margin: 1rem;
  background-color: var(--main-white);
  border-radius: 10px;
  overflow: hidden;
}

.card img {
  max-height: 100%;
  max-width: 100%; 
  object-fit: cover; 
}

.search-list {
  display: flex; 
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center; 
}

.search-result {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 80%;
  min-width: 80%;
  min-height: 200px;
  max-height: 200px;
}


/* Venue detail page */
.venue-page {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  margin: 1rem 5rem;;
}

.venue-image img {
  max-height: 500px;
  max-width: 100%;
  object-fit: cover;
  overflow: hidden;

}

/* Booking a venue on venue page */
.booking-box {
  background-color: var(--dark-blue);
  /* color: var(--main-white); */
}

/* Profile */
.profile-image {
  width: 10em;
  border: 2px solid var(--blue);
}

/* Bookings on profile page */

.booking-list {
  display: flex;
  flex-direction: row;
  width: 60%;
}

.booking-list img {
  max-height: 200px;
  min-height: 200px; 
  min-width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.footer {
  background-color: var(--dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 3rem;
}